* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto.ttf);
}

.container {
    margin: 0 auto;
    padding: 12px 32px 16px 32px;
    max-width: 1440px;
}

a {
    text-decoration: none;
    color: #212529;
}

.section {
    margin-bottom: 120px;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonials__item {
    width: 445px;
    min-width: 327px;
    padding: 40px;
    text-align: center;
    border: 1px solid black;
}

.testimonials__icon-item {
    margin-bottom: 32px;
}

.testimonials__author {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.testimonials__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}

.form__img {
    flex: 0 1 auto;
}

.form__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form__contents {
    min-width: 345px;
    flex: 0 1 678px;
}

.form__title {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 32px;
}

.form__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    margin-bottom: 72px;
}

form {
    margin-bottom: 40px;
}

.form__input input:not([type="submit"]) {
    position: relative;
    display: block;
    width: 100%;
    height: 31px;
    margin-bottom: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}

.form__input input::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

input[type="submit"] {
    margin-top: 8px;
    padding: 12px 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #212529;
}

.form__apps {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    width: 250px;
}




.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: end;
    gap: 24px;
}

.footer__info {
    max-width: 209px;
}

.footer__info p:first-child {
    margin-bottom: 4px;
}

.footer__info-item {
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;

}

.footer__primary {
    max-width: 397px;
}

.footer__primary-private,
.footer__primary-slash,
.footer__primary-pay {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;

}

.footer__social {
    max-width: 234px;
}

.footer__social-vk,
.footer__social-tm {
    text-transform: uppercase;
}

.footer__social-vk {
    margin-right: 40px;
}

@media screen and (max-width: 1200px) {
    
    .form__title {
        font-size: 40px;
    }

}

@media screen and (max-width: 992px) {

    .form__title {
        font-size: 31px;
    }

    .footer {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    .form {
        gap: 20px;
    }

    .form__title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .form__text {
        margin-bottom: 32px;
    }

    input[type="submit"] {
        margin-top: 4px;
    }

    form {
        margin-bottom: 28px;
    }

    .footer__info-item {
        text-align: center;
    }

    .footer__primary-private,
    .footer__primary-pay {
        display: block;
        text-align: center;
    }

    .footer__primary-private {
        margin-bottom: 8px;
    }

    .footer__primary-slash {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .form {
        justify-content: center;
    }

    .form__img {
        display: none;
    }

    .form__contents {
        max-width: 345px;
    }


    .form__title {
        font-size: 28px;
    }

    .container {
        padding: 8px 16px 20px 16px;
    }

    .footer__primary {
        margin-bottom: 4px;
    }
}